page-daily {

	.box {
		width: 500px; 
		height: 100px;  
		border: solid 5px #000;
		border-color: #000 transparent transparent transparent;
		border-radius: 50%/100px 100px 0 0;
	}
	.item-md {
		background: transparent;
		color: white;
	}
	.card-md p {
		color: #fff;
	}
}
